/* BASIC STYLES HERE */

.car{
  position: relative;
}

.car p{
  position: absolute;
  bottom: 5%;
  font-size: x-large;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 15px rgba(72, 72, 72, 0.691));
  left: 1rem;
  user-select: none;
}